1. Always use python binary available in the .venv folder in the root directory of this workspace when running python in the command line.
2. Always use pathlib instead of os.path for better path handling.
